body{
    font-family: Helvetica, sans-serif;
}

.home{
	position: fixed;
	top: 0;
	font-size: 30px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0); /* Azul con 50% de opacidad */
}

    .home a{
    	color: #000;
    }

.mickey {
	margin: 100px auto;
	width: 75%;
}

.mickey p{
    font-family: 'Chopin Script', sans-serif;
	text-align: center;
	font-size: 40px;
    line-height: 1.2;
}

.dados{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    height: 8%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.aviso {
    font-size: 15px;
    line-height: 1em;
}

.epub{
    margin: -50px auto 0 auto;
    width: 90%;
}

    .epub img{
        width: 100%;
        cursor: pointer;
    }


.nwo{
    margin: 0 auto;
    width: 90%;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    line-height: 1em;
}

    .todos{
        color: #fff;
        background-color: #000;
        padding: 20px;
        margin: 20px 0 0 0px;
    }

    .nwo a{
        text-decoration: none;
        color: #000;
        font-style: normal;
    }

    .nwo a:hover {
        text-decoration: none;
        background-color: #000;
        color: #fff;
        font-style: normal;
    }

    .nwo .numeros{
    font-family: 'Chopin Script', sans-serif;
    font-style: normal;
    margin: 0px;
    }

@media screen and (min-width: 768px) {
    .contenedor{
        margin: 0 auto;
        width: 50%;
    }
}